<div>
  <div>
    <span><i class="fa-solid fa-phone fa-shake"></i> Contact</span>
    <address>
      <form style="display: inline" action="tel:+40731330330" method="get"><button class="buton-contact"><span class="link">Telefon</span></button></form>
      <form style="display: inline" action="mailto:pizzapoint@gmail.com" method="get"><button class="buton-contact"><span class="link">Email</span></button></form>
      <form style="display: inline" action="https://wa.me/40721333444" method="get"><button class="buton-contact"><span class="link">WhatsApp</span></button></form>
      <form style="display: inline" action="https://goo.gl/maps/vuH86JcmhKCnrFEo9" method="get"><button class="buton-contact"><span class="link">Locatia Noastra</span></button></form>
    </address>
  </div>
  <div id="container-link-top">
    <a href="#" id="link-top"><div id="arrow">&#129081;</div><span class="my-tooltip">Sus</span></a>
  </div>
  <br>
  <small>Copyright &copy; Oct 2022 .Pizza Point<time datetime="2022-10-10 05:50:33"></time></small>
</div>