<title>Pizza Point</title>
<meta charset="utf-8">
<meta name="keywords" content="pizza, livrare, delivery, burgeri, Bucuresti, sector 1, non-stop, comanda, paste">
<meta name="description" content="Pizzerie non-stop delivery Bucuresti, sector 1. Livrare gratuita pentru orice comanda peste 70 de lei. Meniu variat cu pizza, burgeri, paste.">
<meta name="author" content="Daniel Wagner">
<link rel="apple-touch-icon" sizes="180x180" href="/resources/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/ico/favicon-16x16.png">
<link rel="manifest" href="/resources/ico/site.webmanifest">
<link rel="mask-icon" href="/resources/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resources/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/resources/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/resources/css/layout/layout.css">
<link rel="stylesheet" href="/resources/css/layout/layout-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/resources/css/layout/layout-1000.css" media="screen and (min-width:700px) and (max-width:1000px)">
<link rel="stylesheet" href="/resources/css/nav/nav.css">
<link rel="stylesheet" href="/resources/css/nav/nav-700.css" media="screen and (max-width:700px)">
<link rel="stylesheet" href="/resources/css/nav/nav-1000.css" media="screen and (min-width:700px) and (max-width:1000px)">
<link rel="stylesheet" href="/resources/css/print.css" media="print">
<link rel="stylesheet" href="/resources/css/variables.css">
<link rel="stylesheet" href="/resources/css/libraries/bootstrap-custom.css">
<link rel="stylesheet" href="/resources/css/products/product.css">
<link rel="stylesheet" href="/resources/css/products/products.css">
<script type="text/javascript" src="/resources/js/theme.js"></script>
<script type="text/javascript" src="/resources/js/cookie.js"></script>
<script src="https://kit.fontawesome.com/ee8fda1a40.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Quicksand&display=swap" rel="stylesheet">
<style> @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Quicksand&display=swap'); </style>