#hamburger {
    display: block;
    height: 40px;
}

#hamburger img {
    position: relative;
    height: 100%;
    width: auto;
}

ul.menu {
    display: none;
}

#ch-menu:checked~nav>ul.menu {
    display: block;
    z-index: 5;
    position: relative;
}

#ch-menu:checked~nav>ul.menu ul li {
    z-index: 10;
    position: relative;
}

ul.menu>li:hover ul {
    animation: none;
}

ul.menu li {
    width: 100% !important;
}

ul.menu ul {
    width: 100%;
}

#home span, ul.menu form {
    display: none;
}

nav>ul.menu {
    animation-name: animation_menu;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 0 0;
}

ul.meniu ul li a:before {
    display: none;
}

@keyframes animation_menu {
    0%{
        transform: scale(0, 0);
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1, 1);
    }
}