header{
    position: relative;
    z-index: 100;
}
/* meniu */
#background-meniu {
    background-color: var(--culoare-meniu);
    height: var(--inaltime-meniu);
    width: 100vw;
    top: 0;
    position: fixed;
    border-bottom: 1px solid #301B11;
}
nav {
    height: var(--inaltime-meniu);
    top: 0;
    margin-left: calc(50vw - 350px);
}
ul.meniu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.meniu>li, ul.meniu ul>li {
    height: var(--inaltime-meniu);
    width: var(--latime-buton-meniu);
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    line-height: var(--inaltime-meniu);
}
ul.meniu li:hover {
    overflow: visible;
}
ul.meniu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 5;
    position: relative;
    display: none;
}
ul.meniu li a:hover, ul.meniu li div:hover{
    box-shadow: 0 0 10px 5px var(--culoare-umbra) inset;
}
ul.meniu li a {
    display: block;
    height: 100%;
}
ul.meniu a, ul.meniu div {
    font-family: 'Merriweather Sans', serif;
    color: var(--culoare-text-meniu);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--culoare-meniu);
}
ul.meniu>li:hover ul {
    animation-name: animatie;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 0;
    display: block;
}
ul.meniu ul li{
    position: relative;
    transition: 0.5s;
}
ul.meniu ul li a:before {
    content:'→';
    position: absolute;
    opacity: 0;
    left: 0px;
    transition: 0.5s;
}
ul.meniu ul li a:hover:before {
    opacity: 1;
    left: 10px;
}

/* search bar -> meniu*/
ul.meniu input[type=text]{
    padding: 6px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--culoare-meniu);
    box-shadow: 0 0 2px 2px var(--culoare-umbra) inset;
}
ul.meniu form button{
    display: inline-block;
    padding: 6px 10px;
    background: var(--culoare-buton-search);
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
ul.meniu input[type=text]:focus{
    outline:none;
}
::placeholder {
    color: var(--culoare-buton-search);
    font-style: italic;
    opacity: 1;
}
:-ms-input-placeholder {
    color: var(--culoare-buton-search);
    font-style: italic;
}
::-ms-input-placeholder {
    color: var(--culoare-buton-search);
    font-style: italic;
}
.fa-search {
    color: var(--culoare-meniu);
}

@keyframes animatie {
    0%{
        transform: scale(1, 0);
    }
    50%{
        transform: scale(1, 0.5);
    }
    100%{
        transform: scale(1, 1);
    }
}
#hamburger, #ch-menu {
    display: none;
}
