.products-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.prod-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.prod-grid div{
    padding-left: 1rem;
    padding-right: 1rem;
}
.product{
    background-color: var(--dark-orange);
    overflow: hidden;
    color: var(--dark-red);
    border-radius: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.product h2{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}
.product h2 a{
    color: var(--white);
    text-decoration: none;
    font-weight: normal;
}
.product h2 a:hover{
    color: var(--dark-red);
    text-decoration: none;
    font-weight: normal;
}
.product figure img{
    border-radius: 10px;
}
.product .product-info{
    list-style-type: none;
    padding-left: 0;
}
.product p.add{
    display: inline;
}
.val-price, .val-state, .val-ingredients, .val-date, .val-cutlery, .val-category, .val-about, .val-calories, .select i{
    font-weight: normal !important;
    color: var(--white);
}
.inp-add{
    vertical-align: middle;
}

#ul-radio{
    list-style: none;
}
#ul-checkbox{
    list-style: none;
}
input[type="checkbox"]{
    margin-right: 0.1rem;
}

#inp-name, #inp-about, #sel-calories, #inp-state, #sel-cutlery{
    background-color: var(--background);
}

#div-ingredients{
    display: inline-block;
    vertical-align: top;
}
#div-name label, #div-price label, #div-about label, #div-new label, #div-calories label, #div-state label, #div-cutlery label{
    display: block;
}
#div-name, #div-price, #div-about, #div-new, #div-calories, #div-state, #div-cutlery{
    display: inline-block;
    vertical-align: top;
    margin-right: 1rem;
}
#no-products{
    display: none;
}
.btn{
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: var(--white) !important;
    color: var(--black) !important;
    box-shadow: 5px 5px 8px var(--light-grey) !important;
}