<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <h1 class="heading-1">Istoricul pizzeriei</h1>
            <p><b>Pizza Point</b> este o afacere nascuta in anul 2007. In timp, restaurantul a devenit un adevarat <b>reper culinar</b> pentru bucuresteni. Noi credem ca ingredientul principal in reteta succesului unui brand local este <em>dedicarea</em> fata de clienti si <em>atentia</em> pentru detaliu. De aceea, <em>pasiunea</em> pentru arta culinara si <em>implicarea</em> in relatia cu clientii nostri au ajuns sa ne defineasca.</p>
        </main>
        <footer>
          <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>